<div style="border-style: solid; padding: 8px;  border-width: 1px; border-color: #dbdada;">

	<a href="{{ product.url | within: current_collection }}" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        {% if sold_out %}
          <div class="badge badge--sold-out"><span class="badge-label">{{ 'products.product.sold_out' | t }}</span></div>
        {% endif %}
        
        {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity == 0 and product.available %}
		<div class="badge badge--sold-out"><span class="badge-label">On Back Order</span></div>
		{% endif %}
        
        <img src="{{ product.featured_image.src | img_url: image_size }}" alt="{{ product.featured_image.alt | escape }}">
      </div>
    </div>
  </a>
	    
	    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->

{{ product.price | money | remove: '.00' }}</span>{% if product.compare_at_price_max > product.price %} <del>{{ product.compare_at_price_max | money }}</del>{% endif %} - {{ product.title }}



<br><font color="#e1e1e1">----------------</font><br>


{% if product.available %}


		
		
        
	<div align="right" style="background-color: #fbfbfb; padding: 8px;">
		
		
		<!-- START VARIANTS -->
		{% for variant in product.variants %}
		{% if variant.available %}
		<div>
		<div style="display:inline-block; font-size: 10px;">{% unless variant.title == 'Default Title' %}{% if variant.inventory_quantity == 0 %}<font color="red">{{ variant.title }}</font>{% else %}{{ variant.title }}{% endif %}{% endunless %}</div>
		
		<div style="display:inline-block;"><input type="trippe" onfocus="this.select()" class="quantity field" data-id="{{ variant.id }}" min="0" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %}{% assign max = variant.inventory_quantity %}{% for item in cart.items %}{% if item.id == variant.id %}{% assign max = max | minus: item.quantity %}{% endif %}{% endfor %} max="{{ max }}" {% endunless %} type="text" value="" tabindex="1" /></div>
		</div>
		{% endif %}
	    {% endfor %}
	    <!-- END VARIANTS -->
	    
	    
	    <!-- START INVENTORY AMOUNTS -->
	{% for variant in product.variants %}
		{% if product.variant.inventory_management == "shopify" and product.type == "Apparel" and variant.inventory_quantity < 4 and variant.inventory_quantity > 0 %}
		<div style="font-size: 10px;">{% if variant.title != "Default Title" %}{{ variant.title }} - {% endif %} - Only <b>{{variant.inventory_quantity}}</b> in stock<br></div>
		
		{% elsif variant.inventory_management == "shopify" and product.type != "Apparel"  and variant.inventory_quantity < 11 and variant.inventory_quantity > 0 %}
		
		<div style="font-size: 10px;">{% if variant.title != "Default Title" %}{{ variant.title }} - {% endif %}Only <b>{{variant.inventory_quantity}}</b> in stock<br></div>
		{% endif %}
	{% endfor %}
    <!-- END INVENTORY AMOUNTS -->
    
    
        <!-- START VARIANT BACK ORDER -->
    
  {% for variant in product.variants %}
  {% if variant.inventory_quantity == 0 and variant.title != "Default Title" %}
   <div style="font-size: 10px;"><font color="red">{{ variant.title }}</font> - On Back Order<br></div>
  {% else %}
  {% endif %}
{% endfor %}

	<!-- END VARIANT BACK ORDER -->
	    
    </div>




{% else %}

<p class="bold-red">This product is temporarily unavailable</p>

{% endif %}
</div>
