<div style="border-style: solid; padding: 8px;  border-width: 1px; border-color: #dbdada;">

	<a href="{{ product.url | within: current_collection }}" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        {% if sold_out %}
          <div class="badge badge--sold-out"><span class="badge-label">{{ 'products.product.sold_out' | t }}</span></div>
        {% endif %}
        
        {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity == 0 and product.available %}
		<div class="badge badge--sold-out"><span class="badge-label">On Back Order</span></div>
		{% endif %}
        
        <img src="{{ product.featured_image.src | img_url: image_size }}" alt="{{ product.featured_image.alt | escape }}">
      </div>
    </div>
  </a>
	    
	    <!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->

{{ product.price | money | remove: '.00' }}</span>{% if product.compare_at_price_max > product.price %} <del>{{ product.compare_at_price_max | money }}</del>{% endif %} - {{ product.title }}

<form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
    <!-- We can leave this in, since the select comes later, 
        so it will override if user picks something different. -->
        
        <!-- START snippet turns off direct to cart after adding an item -->
        <input type="hidden" name="return_to" value="back" />
        <!-- END snippet turns off direct to cart after adding an item -->
        
    {% for variant in product.variants limit:1 %}
        <input type="hidden" name="id" value="{{ variant.id }}" />
    {% endfor %}

    

     
    <!-- If you don't want the variants dropdown, just comment this out. -->
        {% if  product.variants.size > 1 %}    
    <select style="font-size:10px;" name="id" class="js--num" id="id">{% for variant in product.variants %}{% if variant.available %}
		<option value="{{ variant.id }}">{{ variant.title | escape }}</option>{% else %}
		<option value="{{ variant.id }}" disabled="disabled">{{ variant.title | escape }} ({{ variant.price | money }}) - SOLD OUT</option>{% endif %}{% endfor %}
	</select>
    {% endif %}
    <!-- end variants dropdown -->
    
    {% if settings.product_quantity_enable %}
          <!--<label for="quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>-->
          <input style="font-size:10px;" type="number" id="quantity" name="quantity" value="{% if  product.type == "Trucks" %}2{% else %}1{% endif %}" min="1" class="quantity-selector">
    {% endif %}
    
    <!-- START INVENTORY AMOUNTS -->
	{% if product.variants.first.inventory_management == "shopify" and product.type == "Apparel" and product.variants.first.inventory_quantity < 4 and product.variants.first.inventory_quantity > 0 %}
	<font color="red">Low Stock</font> - <b>{{ product.variants.first.inventory_quantity }}</b> in stock
	
	{% elsif product.variants.first.inventory_management == "shopify" and product.type != "Apparel"  and product.variants.first.inventory_quantity < 11 and product.variants.first.inventory_quantity > 0 %}
	
	<font color="red">Low Stock</font> - <b>{{ product.variants.first.inventory_quantity }}</b> in stock
	
	{% endif %}
    <!-- END INVENTORY AMOUNTS -->
    
        <!-- START VARIANT BACK ORDER -->
    
    {% for variant in product.variants %}
  {% if variant.inventory_quantity == 0 and variant.title != "Default Title" %}
    <b>*</b>{{ variant.title }} is on Back Order*<br>
  {% else %}
  {% endif %}
{% endfor %}

	<!-- END VARIANT BACK ORDER -->

	<!-- START BUY -->

	    {% if product.available %}
		    
		    <button type="submit" name="add" id="addToCart" class="btn2" onClick="window.location.reload()">
			</button>
		{% else %}
		    <h6></h6>
		{% endif %}

	<!-- END BUY --> 
	
        

</form>
</div>