{% comment %}
  The code below relies on the advanced-tag-loop snippet.
  The snippet is already included in snippets/breadrumbs.liquid
  because it is needed there too, but if you remove
  breadcrumbs you need to include this:

  {% include 'advanced-tag-loop' %}
{% endcomment %}

<!-- START DROPDOWNS -->

    <div class="grid-uniform" style="padding-right: 10px;">

        <div class="grid-item small--one-half medium--one-third">

<!-- START CART SUMMARY SIDEBAR -->

    <h1 class="h2">{{ 'cart.general.title' | t }}</h1>
    
     
{% for item in cart.items %}
    {% if item.product.tags contains 'Onsale' or item.product.tags contains 'Pricepoint' %}{% elsif item.product.type == "Decks" %}   
         {% capture temp %}{{ num | plus: item.quantity }}{% endcapture %} 
    {% endif %}
    {% assign num = temp %}
{% endfor %}
 
{% for item in cart.items %}   
    {% if item.product.type == "Trucks" %}       
         {% capture temp2 %}{{ num_trucks | plus: item.quantity }}{% endcapture %} 
    {% endif %}
    {% assign num_trucks = temp2 %}
{% endfor %}

{% for item in cart.items %}   
    {% if item.product.type == "Wheels" %}       
         {% capture temp3 %}{{ num_wheels | plus: item.quantity }}{% endcapture %} 
    {% endif %}
    {% assign num_wheels = temp3 %}
{% endfor %}

{% for item in cart.items %}
    {% if item.product.tags contains 'Pricepoint' and item.product.type == "Decks" %}       
         {% capture temp5 %}{{ num_pricepoint | plus: item.quantity }}{% endcapture %} 
    {% endif %}
    {% assign num_pricepoint = temp5 %}
{% endfor %}



# of Reg Decks: {{ num }}
<br># of Pricepoint Decks: {{ num_pricepoint }}
<br># of Truck Sets: {% if num_trucks != null %}{{ num_trucks | divided_by: 2 }}{% endif %}
<br># of Wheel Sets: {{ num_wheels }}
<br>--
<br>Total: {{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }} ({{ cart.total_price | money }})
<br><a href="/cart/"><u>View Cart</u></a> - <a href="javascript:window.location.reload();">refresh</a>
<br><br>

<!-- END CART SUMMARY SIDEBAR -->



	
		
{% if  collection.title == "Apparel" or collection.title == "Spitfire Apparel"  or collection.title == "Krooked Apparel"  or collection.title == "Venture Apparel" or collection.title == "Antihero Apparel"  or collection.title == "Thunder Apparel" or collection.title == "Real Apparel" %}
		<ul class="clearfix filters">
		<li class="clearfix filter">
	    {% assign tags = 'Hats, Beanies, Tees, Jackets, Socks, Misc Apparel, Hoodies, Bearings, Bolts, Bushings, Griptape, Misc Hardware, Patches, Risers, Skate Tools, Wax' | split: ',' %}
	    <label>Filter by Style</label>
	    <select class="coll-filter">
	      <option value="">All</option>
	      {% for t in tags %}
	      {% assign tag = t | strip %}
	      {% if current_tags contains tag %}
	      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
	      {% elsif collection.all_tags contains tag %}
	      <option value="{{ tag | handle }}">{{ tag }}</option>
	      {% endif %}
	      {% endfor %}
	    </select>
	  </li>
	  </ul>
	  
	  
	  	<ul class="clearfix filters">
		<li class="clearfix filters"><u>Brands</u></li>	
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/real-apparel">Real Apparel</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/antihero-apparel">Antihero Apparel</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/krooked-apparel">Krooked Apparel</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/spitfire-apparel">Spitfire Apparel</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/thunder-apparel">Thunder Apparel</a></li>
		</ul>
		

{% elsif == "Accessories" or collection.title == "Accessories" or collection.title == "Real Accessories" or collection.title == "Antihero Accessories" or collection.title == "Spitfire Accessories" or collection.title == "Thunder Accessories" or collection.title == "Krooked Accessories" or collection.title == "Venture Accessories"   %}


		<ul class="clearfix filters">
		<li class="clearfix filter">
	    {% assign tags = 'Stickers, Bags, DVDs, Lighters, Patches, Pins, Air Fresheners, Misc' | split: ',' %}
	    <label>Filter by Type</label>
	    <select class="coll-filter">
	      <option value="">All</option>
	      {% for t in tags %}
	      {% assign tag = t | strip %}
	      {% if current_tags contains tag %}
	      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
	      {% elsif collection.all_tags contains tag %}
	      <option value="{{ tag | handle }}">{{ tag }}</option>
	      {% endif %}
	      {% endfor %}
	    </select>
	  </li>
	  </ul>
	  
	  <ul class="clearfix filters">
		<li class="clearfix filters"><u>Brands</u></li>	
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/real-accessories">Real Accessories</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/antihero-accessories">Antihero Accessories</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/krooked-accessories">Krooked Accessories</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/spitfire-accessories">Spitfire Accessories</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/thunder-accessories">Thunder Accessories</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/venture-accessories">Venture Accessories</a></li>
		</ul>	
		

{% elsif == "Real Decks" or collection.title == "Real Decks" or collection.title == "Krooked Decks" or collection.title == "Krooked Decks - On Hand" or collection.title == "Real Decks - On Hand" or collection.title == "Antihero Decks - On Hand" or collection.title == "Decks" collection.title == "Real Decks" or collection.title == "Antihero Decks" or collection.title == "Trucks" or collection.title == "Thunder Trucks" or collection.title == "Venture Trucks" or collection.title == "Wheels" or collection.title == "Spitfire Wheels" or collection.title == "Krooked Wheels"   %}
	<ul class="clearfix filters">
	  <li class="clearfix filter">
	    {% assign tags = '48mm,50mm,51mm,52mm,53mm,54mm,55mm,56mm,57mm,58mm,59mm,60mm,65mm,143,7.0 - 7.49,7.5 - 7.9,8.0 - 8.124,8.125 - 8.24,8.25 - 8.37,8.38 - 8.49,8.5 - 8.74,8.75 - 8.9,9.0 +,143, Lo 145, Hi 145, Lo 147, Hi 147, Hi 149, Hi 151, Lo 5.0, Hi 5.0, Lo 5.2, Hi 5.2, Hi 5.8' | split: ',' %}
	    <label>Filter by Size</label>
	    <select class="coll-filter">
	      <option value="">All</option>
	      {% for t in tags %}
	      {% assign tag = t | strip %}
	      {% if current_tags contains tag %}
	      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
	      {% elsif collection.all_tags contains tag %}
	      <option value="{{ tag | handle }}">{{ tag }}</option>
	      {% endif %}
	      {% endfor %}
	    </select>
	  </li>
	  <li class="clearfix filter">
	    {% assign tags = 'Andrew Allen, Youness Amrani, Tom Asta, Brian Anderson, Mike Anderson, David Bachinsky, Theotis Beasley, Raney Beres, Brandon Biebel, Justin Brock, Robbie Brockel, Dennis Busenitz, John Cardiel, Chris Cole, Brad Cromer, Jake Donnelly, Dan Drehobl, Eric Dressen, Erik Ellington, Chima Ferguson,  Frank Gerwer, Mark Gonzales, Jeff Grosso, Tommy Guerrero, Felipe Gustavo, James Hardy, Peter Hewitt, Marc Johnson, Cory Kennedy, Sean Malto, Josh Matthews, Tony Miorana, Silas Baxter Neal, Shane ONeill, Chris Pfanner, Torey Pudwill, Peter Ramondetta, Andrew Reynolds, Paul Rodriguez, Andy Roy, Robbie Russo, Max Schaaf,  Julien Stranger, Mark Suciu, Grant Taylor, Raven Tershy, Davis Torgerson, Tony Trujillo, Daan Van Der Linden, Anthony Van Engelen, Nick Tucker, Ishod Wair, Kyle Walker, Sebo Walker, Brandon Westgate, Bobby Worrest' | split: ',' %}
	    <label>Filter by Pro</label>
	    <select class="coll-filter">
	      <option value="">All</option>
	      {% for t in tags %}
	      {% assign tag = t | strip %}
	      {% if current_tags contains tag %}
	      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
	      {% elsif collection.all_tags contains tag %}
	      <option value="{{ tag | handle }}">{{ tag }}</option>
	      {% endif %}
	      {% endfor %}
	    </select>
	  </li>
	  <li class="clearfix filter">
	    {% assign tags = 'Pro, Team, Specialty Shape, Slick, Price Point, Formula Four Pro Wheels, Formula Four Team Wheels, Formula Four Colored Wheels, 80HD Softcruiser Wheels, Pro Classic Series, Team Classics, Colored Wheels, Pro Trucks, Titanium Lights, Pro Titanium Lights, Hollow Lights, Pro Hollow Lights, Pro Lights, Lights, Polished, Color, Sonora' | split: ',' %}
	    <label>Filter by Style</label>
	    <select class="coll-filter">
	      <option value="">All</option>
	      {% for t in tags %}
	      {% assign tag = t | strip %}
	      {% if current_tags contains tag %}
	      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
	      {% elsif collection.all_tags contains tag %}
	      <option value="{{ tag | handle }}">{{ tag }}</option>
	      {% endif %}
	      {% endfor %}
	    </select>
	  </li>
	 <li class="clearfix filter">
	    {% assign tags = 'Antihero, Real, Spitfire, Krooked, Thunder' | split: ',' %}
	    <label>Filter by Brand</label>
	    <select class="coll-filter">
	      <option value="">All</option>
	      {% for t in tags %}
	      {% assign tag = t | strip %}
	      {% if current_tags contains tag %}
	      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
	      {% elsif collection.all_tags contains tag %}
	      <option value="{{ tag | handle }}">{{ tag }}</option>
	      {% endif %}
	      {% endfor %}
	    </select>
	  </li>
	 </ul>
	 
{% elsif == "Hardware" or collection.title == "Hardware" or collection.title == "Bearings" or collection.title == "Bolts" or collection.title == "Bushings" or collection.title == "Griptape" or collection.title == "Misc Hardware" or collection.title == "Risers" or collection.title == "Skate Tools" or collection.title == "Wax" %}

		<ul class="clearfix filters">
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/bearings">Bearings</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/bolts">Bolts</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/bushings">Bushings</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/griptape">Griptape</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/misc-hardware">Misc Hardware</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/risers">Risers</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/skate-tools">Skate Tools</a></li>
		<li class="clearfix filters"><a href="http://distro.dlxsf.com/collections/wax">Wax</a></li>
		</ul>
 
	  
{% else %}

	  
{% endif %}
	


<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection page.
     Give you product tag filter select element a class of coll-filter.
     Give your collection select a class of coll-picker.
     Brought to you by Caroline Schnapp. */
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  jQuery('.coll-picker').change(function() {
    if (jQuery(this).val()) {
      location.href = '/collections/' + jQuery(this).val();
    }
    else {
      location.href = '/collections/all';
    }
  });
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    delete Shopify.queryParams.page;
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    {% if collection.handle %}
    var newURL = '/collections/{{ collection.handle }}';
    if (newTags.length) {
      newURL += '/' + newTags.join('+');
    }
    var search = jQuery.param(Shopify.queryParams);
    if (search.length) {
      newURL += '?' + search;
    }
    location.href = newURL;
    {% else %}
    if (newTags.length) {
      Shopify.queryParams.constraint = newTags.join('+');
    }
    else {
      delete Shopify.queryParams.constraint;
    }
    location.search = jQuery.param(Shopify.queryParams);
    {% endif %}
  });
</script>

        </div>
    </div>

<!-- END DROPDOWNS -->

