{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  This example has three products per column on desktop, two on
  our medium breakpoint, and a single row on small screens.

{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}

{% assign product_qty = 0 %}
{% for variant in product.variants %}
  {% if variant.inventory_quantity > 0 %}
    {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
  {% endif %}
{% endfor %}

{% assign productIndex = forloop.index |minus:1 %}
{% assign delayTime = 200 | times : productIndex %}

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <div align="center">
  <a href="{{ product.url | within: collection }}">
    <img src="{{ product.featured_image.src | product_img_url: 'compact' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>
     {% if on_sale or sold_out %}
     <div class="product-label">
      {% if on_sale %}
       <strong class="label">Sale</strong>
      {% endif %}
      {% if sold_out %}
        <strong class="sold-out-label">Sold Out</strong>
      {% endif %}
     </div>
     {% endif %}
   </div>
 

  

<div class="product-des">
  

  <a class="product-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
   
    {% if on_sale %}
      <p class="sale">
	  <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
	  <span class="special-price">{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span></p>
	{% else %}
		<p class="regular-product">
      {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
      {% endcomment %}
		<span >{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
		 
    {% endif %}

 <hr>
 </div>

