

{% if section.settings.promo_2_selector == 'promosel2' %}

		{% assign pro2img = section.settings.promo2 %}
		{% assign pro2link = section.settings.promo2link %}

	{% elsif  section.settings.promo_2_selector == 'promosel3' %}

		{% assign pro3img = section.settings.promo2 %}
		{% assign pro3link = section.settings.promo2link %}
	
{% elsif  section.settings.promo_2_selector == 'promosel4' %}

		{% assign pro4img = section.settings.promo2 %}
		{% assign pro4link = section.settings.promo2link %}
	
{% elsif  section.settings.promo_2_selector == 'promosel5' %}

		{% assign pro5img = section.settings.promo2 %}
		{% assign pro5link = section.settings.promo2link %}
	
{% elsif  section.settings.promo_2_selector == 'promosel7' %}

		{% assign pro7img = section.settings.promo2 %}
		{% assign pro7link = section.settings.promo2link %}
	
{% elsif  section.settings.promo_2_selector == 'promosel8' %}

		{% assign pro8img = section.settings.promo2 %}
		{% assign pro8link = section.settings.promo2link %}

{% endif %}



{% if section.settings.promo_3_selector == 'promosel2' %}

		{% assign pro2img = section.settings.promo3 %}
		{% assign pro2link = section.settings.promo3link %}

	{% elsif  section.settings.promo_3_selector == 'promosel3' %}

		{% assign pro3img = section.settings.promo3 %}
		{% assign pro3link = section.settings.promo3link %}
	
	{% elsif  section.settings.promo_3_selector == 'promosel4' %}

		{% assign pro4img = section.settings.promo3 %}
		{% assign pro4link = section.settings.promo3link %}
	
	{% elsif  section.settings.promo_3_selector == 'promosel5' %}

		{% assign pro5img = section.settings.promo3 %}
		{% assign pro5link = section.settings.promo3link %}
		
	{% elsif  section.settings.promo_3_selector == 'promosel7' %}

		{% assign pro7img = section.settings.promo3 %}
		{% assign pro7link = section.settings.promo3link %}
	
	{% elsif  section.settings.promo_3_selector == 'promosel8' %}

		{% assign pro8img = section.settings.promo3 %}
		{% assign pro8link = section.settings.promo3link %}

{% endif %}

{% if section.settings.promo_4_selector == 'promosel2' %}

		{% assign pro2img = section.settings.promo4 %}
		{% assign pro2link = section.settings.promo4link %}

	{% elsif  section.settings.promo_4_selector == 'promosel3' %}

		{% assign pro3img = section.settings.promo4 %}
		{% assign pro3link = section.settings.promo4link %}
	
	{% elsif  section.settings.promo_4_selector == 'promosel4' %}

		{% assign pro4img = section.settings.promo4 %}
		{% assign pro4link = section.settings.promo4link %}
	
	{% elsif  section.settings.promo_4_selector == 'promosel5' %}

		{% assign pro5img = section.settings.promo4 %}
		{% assign pro5link = section.settings.promo4link %}
		
	{% elsif  section.settings.promo_4_selector == 'promosel7' %}

		{% assign pro7img = section.settings.promo4 %}
		{% assign pro7link = section.settings.promo4link %}
	
	{% elsif  section.settings.promo_4_selector == 'promosel8' %}

		{% assign pro8img = section.settings.promo4 %}
		{% assign pro8link = section.settings.promo4link %}

{% endif %}

{% if section.settings.promo_5_selector == 'promosel2' %}

		{% assign pro2img = section.settings.promo5 %}
		{% assign pro2link = section.settings.promo5link %}

	{% elsif  section.settings.promo_5_selector == 'promosel3' %}

		{% assign pro3img = section.settings.promo5 %}
		{% assign pro3link = section.settings.promo5link %}
	
	{% elsif  section.settings.promo_5_selector == 'promosel4' %}

		{% assign pro4img = section.settings.promo5 %}
		{% assign pro4link = section.settings.promo5link %}
	
	{% elsif  section.settings.promo_5_selector == 'promosel5' %}

		{% assign pro5img = section.settings.promo5 %}
		{% assign pro5link = section.settings.promo5link %}
		
	{% elsif  section.settings.promo_5_selector == 'promosel7' %}

		{% assign pro7img = section.settings.promo5 %}
		{% assign pro7link = section.settings.promo5link %}
	
	{% elsif  section.settings.promo_5_selector == 'promosel8' %}

		{% assign pro8img = section.settings.promo5 %}
		{% assign pro8link = section.settings.promo5link %}

{% endif %}

{% if section.settings.promo_7_selector == 'promosel2' %}

		{% assign pro2img = section.settings.promo7 %}
		{% assign pro2link = section.settings.promo7link %}

	{% elsif  section.settings.promo_7_selector == 'promosel3' %}

		{% assign pro3img = section.settings.promo7 %}
		{% assign pro3link = section.settings.promo7link %}
	
	{% elsif  section.settings.promo_7_selector == 'promosel4' %}

		{% assign pro4img = section.settings.promo7 %}
		{% assign pro4link = section.settings.promo7link %}
	
	{% elsif  section.settings.promo_7_selector == 'promosel5' %}

		{% assign pro5img = section.settings.promo7 %}
		{% assign pro5link = section.settings.promo7link %}
		
	{% elsif  section.settings.promo_7_selector == 'promosel7' %}

		{% assign pro7img = section.settings.promo7 %}
		{% assign pro7link = section.settings.promo7link %}
	
	{% elsif  section.settings.promo_7_selector == 'promosel8' %}

		{% assign pro8img = section.settings.promo7 %}
		{% assign pro8link = section.settings.promo7link %}

{% endif %}

{% if section.settings.promo_8_selector == 'promosel2' %}

		{% assign pro2img = section.settings.promo8 %}
		{% assign pro2link = section.settings.promo8link %}

	{% elsif  section.settings.promo_8_selector == 'promosel3' %}

		{% assign pro3img = section.settings.promo8 %}
		{% assign pro3link = section.settings.promo8link %}
	
	{% elsif  section.settings.promo_8_selector == 'promosel4' %}

		{% assign pro4img = section.settings.promo8 %}
		{% assign pro4link = section.settings.promo8link %}
	
	{% elsif  section.settings.promo_8_selector == 'promosel5' %}

		{% assign pro5img = section.settings.promo8 %}
		{% assign pro5link = section.settings.promo8link %}
		
	{% elsif  section.settings.promo_8_selector == 'promosel7' %}

		{% assign pro7img = section.settings.promo8 %}
		{% assign pro7link = section.settings.promo8link %}
	
	{% elsif  section.settings.promo_8_selector == 'promosel8' %}

		{% assign pro8img = section.settings.promo8 %}
		{% assign pro8link = section.settings.promo8link %}

{% endif %}

<div class="grid-item" style="padding: 0px;">
	{% if section.settings.promo1link != blank %}
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<!-- START VIDEO -->
		<a href="{{ section.settings.promo1link }}"><img src="{{ section.settings.promo1 | img_url: '1000x500' }}" border="0"></a>
		<!-- END VIDEO -->
	</div>
	{% endif %}
	{% if section.settings.promo1video == true %}
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		{{ section.settings.promo1videolink }}
	</div>
	{% endif %}
</div>

<div class="grid-item" style="padding: 0px; display: flex; flex-wrap: wrap;">
	
	<!-- START TEXT SECTION -->
	
		<div class="grid-item large--one-half" style="padding: 10px;">
			<div style="padding: 0px; {% if section.settings.text1bgimage != blank %}background: url({{ section.settings.text1bgimage | img_url: '1000x1000' }});{% endif %}{% if section.settings.text1bgcolor != blank %}background-color: {{ section.settings.text1bgcolor }};{% endif %} height: 100%;">
      
      <img src="https://cdn.shopify.com/s/files/1/0714/9533/files/NEWS-HEADER-2.png?v=1584463946"><br>
			
			<!-- START NEWS STORIES -->
      <div style="padding: 10px;">
			<font color="{{ section.settings.text1color }}">
			
			{% if section.settings.story1title != blank %}<p><a href="{{ section.settings.story1link }}"><b><font color="{{ section.settings.text1color }}"><u>{{ section.settings.story1title | upcase }}</u></font></b></a> --> {{ section.settings.story1text }}</p>{% endif %}
			
			{% if section.settings.story2title != blank %}<p><a href="{{ section.settings.story2link }}"><b><font color="{{ section.settings.text1color }}"><u>{{ section.settings.story2title | upcase }}</u></font></b></a> --> {{ section.settings.story2text }}</p>{% endif %}
			
			{% if section.settings.story3title != blank %}<p><a href="{{ section.settings.story3link }}"><b><font color="{{ section.settings.text1color }}"><u>{{ section.settings.story3title | upcase }}</u></font></b></a> --> {{ section.settings.story3text }}</p>{% endif %}
			
			
			{% for article in blogs.News.articles limit: section.settings.numofblogs %}
				<p><a href="{{ article.url }}"><font color="{{ section.settings.text1color }}"><b><u>{{ article.title | upcase }}</u></b></a> --> {{ article.excerpt }}</font>
				{% if article.image %}
					{% unless article.tags contains "noimg" %}<br><br><a href="{{ article.url }}">{{ article | img_url: '500x500', scale: 2 | img_tag: '' }}</a>{% endunless %}
				{% endif %}</p>
			{% endfor %}
			
			</font>
			<!-- END NEWS STORIES -->
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0714/9533/files/news-footer-2.png?v=1584464109"></div>
		</div>

		<div class="grid-item large--one-half" style="padding: 10px;">
			<div style="padding: 10px; {% if section.settings.text2bgcolor != blank %}background-color: {{ section.settings.text2bgcolor }};{% endif %} height: 100%; {% if section.settings.text2bgimage != blank %}background: url({{ section.settings.text2bgimage | img_url: '1000x1000' }});{% endif %}">
      
      <h2><font color="{{ section.settings.text2hdrcolor }}">{{ section.settings.text2header }}:</font></h2>
			
			<div style="padding-top:{{ section.settings.new1titleheight }}px;"><h2>
			{% if section.settings.new1title != blank %}<a href="{{ section.settings.new1url }}"><b><font color="{{ section.settings.text2color }}">- {{ section.settings.new1title }}</font></b></a><br>{% endif %}
			{% if section.settings.new2title != blank %}<a href="{{ section.settings.new2url }}"><b><font color="{{ section.settings.text2color }}">- {{ section.settings.new2title }}</font></b></a><br>{% endif %}
			{% if section.settings.new3title != blank %}<a href="{{ section.settings.new3url }}"><b><font color="{{ section.settings.text2color }}">- {{ section.settings.new3title }}</font></b></a><br>{% endif %}
			{% if section.settings.new4title != blank %}<a href="{{ section.settings.new4url }}"><b><font color="{{ section.settings.text2color }}">- {{ section.settings.new4title }}</font></b></a><br>{% endif %}
			</h2></div>
			{% if section.settings.whatsnewimage != blank %}<br><br><a href="{% if section.settings.usenew1url == true %}{{ section.settings.new1url }}{% elsif section.settings.usenew2url == true %}{{ section.settings.new2url }}{% elsif section.settings.usenew3url == true %}{{ section.settings.new3url }}{% elsif section.settings.usenew4url == true %}{{ section.settings.new4url }}{% endif %}">{{ section.settings.whatsnewimage | img_url: '500x500', scale: 2 | img_tag: '' }}</a>{% endif %}
			</div>
		</div>
		
	<!-- END TEXT SECTION -->
	
	<!-- START 2 SECTION -->
	
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="{{ pro2link }}"><img loading="lazy" border="0" src="{{ pro2img | img_url: '500x500' }}"></a></div>
		
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="{{ pro3link }}"><img loading="lazy" border="0" src="{{ pro3img | img_url: '500x500' }}"></a></div>
		
	<!-- END 2 SECTION -->
	
	<!-- START 3 SECTION -->
	
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="{{ pro4link }}"><img loading="lazy" border="0" src="{{ pro4img | img_url: '500x500' }}"></a></div>
		
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="{{ pro5link }}"><img loading="lazy" border="0" src="{{ pro5img | img_url: '500x500' }}"></a></div>
		
	<!-- END 3 SECTION --> 
	
	<!-- START 4 SECTION -->
		{% if section.settings.promo6video == true %}
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
			{{ section.settings.promo6videolink }}
		</div>
		{% endif %}
		
		{% if section.settings.promo6link != blank %}
		<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
			<a href="{{ section.settings.promo6link }}"><img loading="lazy" src="{{ section.settings.promo6 | img_url: '1000x500' }}" border="0"></a>
		</div>
		{% endif %}
	<!-- END 4 SECTION -->
	
	
	<!-- START 5 SECTION -->
	
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="{{ pro7link }}"><img loading="lazy" border="0" src="{{ pro7img | img_url: '500x500' }}"></a></div>
		
		<div class="grid-item large--one-half" style="padding: 10px;"><a href="{{ pro8link }}"><img loading="lazy" border="0" src="{{ pro8img | img_url: '500x500' }}"></a></div>
		
	<!-- END 5 SECTION -->


		
		<div class="grid-item large--one-whole" style="padding: 10px;"><a href="{{ section.settings.promo9link }}"><img loading="lazy" border="0" src="{{ section.settings.promo9 | img_url: '1000x200' }}"></a><br><br></div>
	
	
</div>
</div>


{% schema %}
{
  "name": "Promo Zones",
  "settings": [
    {
      "type": "image_picker",
      "id": "promo1",
      "label": "Promo 1"
    },
    {
	  "type": "text",
      "id": "promo1link",
      "label": "Promo 1 Link"
     },
     {
	  "type": "checkbox",
      "id": "promo1video",
      "label": "Promo 1 Video?"
    },
    {
	  "type": "textarea",
      "id": "promo1videolink",
      "label": "Promo 1 Video Embed"
    },
        {
	  "type": "text",
      "id": "numofblogs",
      "label": "Number of Blog Posts"
    },
	{
	 "type": "image_picker",
      "id": "text1bgimage",
      "label": "Text 1 BG Image"
    },
    {
	  "type": "color",
      "id": "text1bgcolor",
      "label": "Text 1 BG Color"
	},
	{
	  "type": "color",
      "id": "text1headercolor",
      "label": "Text 1 Header Color"
	},
    {
	  "type": "color",
      "id": "text1color",
      "label": "Text 1 Color"
    },
    {
	  "type": "text",
      "id": "text1header",
      "label": "Text 1 Header"
    },
    {
	  "type": "text",
      "id": "story1title",
      "label": "Story 1 Title"
    },
    {
	  "type": "text",
      "id": "story1link",
      "label": "Story 1 Link"
    },
    {
	  "type": "text",
      "id": "story1text",
      "label": "Story 1 Text"
    },
    {
	  "type": "text",
      "id": "story2title",
      "label": "Story 2 Title"
    },
    {
	  "type": "text",
      "id": "story2link",
      "label": "Story 2 Link"
    },
    {
	  "type": "text",
      "id": "story2text",
      "label": "Story 2 Text"
    },
    {
	  "type": "text",
      "id": "story3title",
      "label": "Story 3 Title"
    },
    {
	  "type": "text",
      "id": "story3link",
      "label": "Story 3 Link"
    },
    {
	  "type": "text",
      "id": "story3text",
      "label": "Story 3 Text"
    },
    {
	 "type": "image_picker",
      "id": "text2bgimage",
      "label": "Text 2 BG Image"
    },
    {
	  "type": "color",
      "id": "text2bgcolor",
      "label": "Text 2 BG Color"
    },
    {
	  "type": "color",
      "id": "text2hdrcolor",
      "label": "Text 2 Header Color"
    },
    {
	  "type": "text",
      "id": "text2header",
      "label": "Text 2 Header"
    },
    {
	  "type": "color",
      "id": "text2color",
      "label": "Text 2 txt Color"
    },
    {
	 "type": "image_picker",
      "id": "whatsnewimage",
      "label": "What's New Img"
    },
    {
	  "type": "text",
      "id": "new1title",
      "label": "New 1 Title"
    },
    {
	  "type": "text",
      "id": "new1titleheight",
      "label": "New 1 Pixel Height"
    },
    {
      "type":      "checkbox",
      "id":        "usenew1url",
      "label":     "Use New 1 url for img",
      "default":   false
	},
    {
	  "type": "text",
      "id": "new1url",
      "label": "New 1 Url"
    },
    
    {
	  "type": "text",
      "id": "new2title",
      "label": "New 2 Title"
    },
    {
      "type": "checkbox",
      "id":  "usenew2url",
      "label": "Use New 2 url for img",
      "default": false
	},
    {
	  "type": "text",
      "id": "new2url",
      "label": "New 2 Url"
    },
    {
	  "type": "text",
      "id": "new3title",
      "label": "New 3 Title"
    },
    {
      "type": "checkbox",
      "id": "usenew3url",
      "label": "Use New 3 url for img",
      "default": false
	},
    {
	  "type": "text",
      "id": "new3url",
      "label": "New 3 Url"
    },
    {
	  "type": "text",
      "id": "new4title",
      "label": "New 4 Title"
    },
    {
      "type": "checkbox",
      "id": "usenew4url",
      "label": "Use New 4 url for img",
      "default": false
	},
    {
	  "type": "text",
      "id": "new4url",
      "label": "New 4 Url"
    },
    {
	  "type": "text",
      "id": "text2linkurl",
      "label": "Text 2 Link URL"
    },
    {
	  "type": "text",
      "id": "text2linktext",
      "label": "Text 2 Link Text"
    },
	{
	 "type": "image_picker",
      "id": "promo2",
      "label": "Promo 2"
    },
    {
   "type": "select",
   "id": "promo_2_selector",
   "options": [
      { "value": "promosel2", "label": "Promo 2"},
      { "value": "promosel3", "label": "Promo 3"},
      { "value": "promosel4", "label": "Promo 4"},
      { "value": "promosel5", "label": "Promo 5"},
      { "value": "promosel7", "label": "Promo 7"},
      { "value": "promosel8", "label": "Promo 8"}
   ],
   "label": "Promo Position"
   	},
    {
	  "type": "text",
      "id": "promo2link",
      "label": "Promo 2 Link"
    },
    {
      "type": "image_picker",
      "id": "promo3",
      "label": "Promo 3"
    },
    {
   "type": "select",
   "id": "promo_3_selector",
   "options": [
      { "value": "promosel2", "label": "Promo 2"},
      { "value": "promosel3", "label": "Promo 3"},
      { "value": "promosel4", "label": "Promo 4"},
      { "value": "promosel5", "label": "Promo 5"},
      { "value": "promosel7", "label": "Promo 7"},
      { "value": "promosel8", "label": "Promo 8"}
   ],
   "label": "Promo Position"
   	},
    {
	  "type": "text",
      "id": "promo3link",
      "label": "Promo 3 Link"
    },
    {
      "type": "image_picker",
      "id": "promo4",
      "label": "Promo 4"
    },
    {
   "type": "select",
   "id": "promo_4_selector",
   "options": [
      { "value": "promosel2", "label": "Promo 2"},
      { "value": "promosel3", "label": "Promo 3"},
      { "value": "promosel4", "label": "Promo 4"},
      { "value": "promosel5", "label": "Promo 5"},
      { "value": "promosel7", "label": "Promo 7"},
      { "value": "promosel8", "label": "Promo 8"}
   ],
   "label": "Promo Position"
   	},
    {
	  "type": "text",
      "id": "promo4link",
      "label": "Promo 4 Link"
    },
    {
      "type": "image_picker",
      "id": "promo5",
      "label": "Promo 5"
    },
    {
   "type": "select",
   "id": "promo_5_selector",
   "options": [
      { "value": "promosel2", "label": "Promo 2"},
      { "value": "promosel3", "label": "Promo 3"},
      { "value": "promosel4", "label": "Promo 4"},
      { "value": "promosel5", "label": "Promo 5"},
      { "value": "promosel7", "label": "Promo 7"},
      { "value": "promosel8", "label": "Promo 8"}
   ],
   "label": "Promo Position"
   	},
    {
	  "type": "text",
      "id": "promo5link",
      "label": "Promo 5 Link"
    },
    {
      "type": "image_picker",
      "id": "promo6",
      "label": "Promo 6"
    },
    {
	  "type": "text",
      "id": "promo6link",
      "label": "Promo 6 Link"
    },
    {
	  "type": "checkbox",
      "id": "promo6video",
      "label": "Promo 6 Video?"
    },
    {
	  "type": "textarea",
      "id": "promo6videolink",
      "label": "Promo 6 Video Embed"
    },
    {
      "type": "image_picker",
      "id": "promo7",
      "label": "Promo 7"
    },
    {
   "type": "select",
   "id": "promo_7_selector",
   "options": [
      { "value": "promosel2", "label": "Promo 2"},
      { "value": "promosel3", "label": "Promo 3"},
      { "value": "promosel4", "label": "Promo 4"},
      { "value": "promosel5", "label": "Promo 5"},
      { "value": "promosel7", "label": "Promo 7"},
      { "value": "promosel8", "label": "Promo 8"}
   ],
   "label": "Promo Position"
   	},
    {
	  "type": "text",
      "id": "promo7link",
      "label": "Promo 7 Link"
    },
    {
      "type": "image_picker",
      "id": "promo8",
      "label": "Promo 8"
    },
    {
   "type": "select",
   "id": "promo_8_selector",
   "options": [
      { "value": "promosel2", "label": "Promo 2"},
      { "value": "promosel3", "label": "Promo 3"},
      { "value": "promosel4", "label": "Promo 4"},
      { "value": "promosel5", "label": "Promo 5"},
      { "value": "promosel7", "label": "Promo 7"},
      { "value": "promosel8", "label": "Promo 8"}
   ],
   "label": "Promo Position"
   	},
    {
	  "type": "text",
      "id": "promo8link",
      "label": "Promo 8 Link"
    },
    {
      "type": "image_picker",
      "id": "promo9",
      "label": "Promo 9"
    },
    {
	  "type": "text",
      "id": "promo9link",
      "label": "Promo 9 Link"
    } 
    
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}