

{% paginate collection.products by 100 %}

{% include 'breadcrumb' %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 %}
  {% assign has_sidebar = true %}
{% endif %}

<div class="grid grid-border">
	

  {% if has_sidebar %}
  <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
					
					<script type="text/javascript">	
					if($(window).width() >= 900){	
						jQuery("document").ready(function($){
						
						var nav3 = $('.nav-container2');
						
						$(window).scroll(function () {
							if ($(this).scrollTop() > 136) {
								nav3.addClass("f-nav2");
							} else {
								nav3.removeClass("f-nav2");
							}
						});
					
					});
					}
					
					</script>
					
					
					
					
					<div class="nav-container2" style="background-color: white;">
						
						{% include 'collection-sidebar' %}
						
					</div>
  </aside>
  {% endif %}


  <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

    {% comment %}
      Different markup if description is set
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header--title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
        
        <div class="section-header--right">
	<!-- START SHOW ONLY AVAILABLE -->
	
	{% if  collection.title == "Antihero Decks" %}
	 <br><br><small><a href="/collections/antihero-decks-on-hand">Show Only On Hand</a></small>
	{% endif %}
	{% if  collection.title == "Antihero Decks - On Hand" %}
	 <br><br><small><a href="/collections/antihero-decks">Show All Decks</a></small>
	{% endif %}
	
	{% if  collection.title == "Real Decks" %}
	 <br><br><small><a href="/collections/real-decks-on-hand">Show Only On Hand</a></small>
	{% endif %}
	{% if  collection.title == "Real Decks - On Hand" %}
	 <br><br><small><a href="/collections/real-decks">Show All Decks</a></small>
	{% endif %}
	
	{% if  collection.title == "Krooked Decks" %}
	 <br><br><small><a href="/collections/krooked-decks-on-hand">Show Only On Hand</a></small>
	{% endif %}
	{% if  collection.title == "Krooked Decks - On Hand" %}
	 <br><br><small><a href="/collections/krooked-decks">Show All Decks</a></small>
	{% endif %}
	
	<!-- END SHOW ONLY AVAILABLE -->
	
        {% include 'toggle-filters' %} {% if  collection.title == "Trucks" or collection.title == "Thunder Trucks" or collection.title == "Venture Trucks" %} <br><br><font color="red">*Please note that trucks are sold as singles.</font> {% endif %}
      
      <div class="order-form-add-to-cart">
	      <span id="hide-cart" style="display:none;"><a href="/cart" class="header-cart-btn">
            <span class="icon icon-cart"></span>
            {{ 'layout.cart.cart' | t }} <span id="cartCount" {% if cart.item_count == 0 %}class="hidden-count"{% endif %}>{{ cart.item_count }}</span>
          </a>
	      </span>
          <br><br>
          <input class="action-button submit button btn3 right add-to-cart-order-form" type="button" value="Add To Cart" />
      </div>

      
      </div>
      
      
      </header>
      <hr class="hr--offset-left">
      <div class="section-header">
        <div class="section-header--right">
          <!-- {% include 'collection-sorting' %} -->
          <!-- {% include 'collection-views' %} -->
          {% include 'toggle-filters' %}
        </div>
      </div>
    {% else %}
    <header class="section-header">
      <h1 class="section-header--title section-header--left">{% if collection.title == "All" %} {% for tag in current_tags %}
        {% assign is_advanced_tag = false %}
        {% assign additional_tag = true %}
        {% if forloop.first %}
          {% assign additional_tag = false %}
        {% endif %}

        {% comment %}
          Track whether the tag gets printed
        {% endcomment %}
        {% assign found_tag = false %}

        {% for cat_item in cat_array %}
          {% unless cat_item == '' %}

            {% if tag contains cat_item %}
              {% assign is_advanced_tag = true %}
              {% if additional_tag %}
                <span>+</span>
              {% endif %}
              {% assign found_tag = true %}
              <span>
                {{ tag | remove_first: cat_item | remove: '_' }}
              </span>
            {% endif %}
          {% endunless %}
        {% endfor %}

        {% comment %}
          We have a regular tag that wasn't printed, so print it now
        {% endcomment %}
        {% unless found_tag %}
          <span>{{ tag }}</span>
        {% endunless %}

      {% endfor %} {% else %} <!-- START BRAND HEADERS -->
    {% if  collection.title contains "Real" %}
    <img src="https://cdn.shopify.com/s/files/1/0714/9533/files/real_header_2.jpg?5703579906325659270" width="500"><br><br>
    {% elsif  collection.title contains "Antihero" %}<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/antiheroooooo.jpg?13246087572366442842" width="500"><br><br>{% elsif  collection.title contains "Krooked" %}<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/krooooked.jpg?725793528956681251" width="500"><br><br>{% elsif  collection.title contains "Spitfire" %}<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/spit_fireeeee.jpg?16784746170743121625" width="500"><br><br>{% elsif  collection.title contains "Thunder" %}<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/thunder_tilt.jpg?1285884868642122877" width="500"><br><br>{% elsif  collection.title contains "Venture" %}<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/venture_header.jpg?4823303926833150067" width="500"><br><br>{% else %}{{ collection.title }}{% endif %}
     <!-- END BRAND HEADERS --> {% endif %}</h1>
     
      <div class="section-header--right">
	<!-- START SHOW ONLY AVAILABLE -->
	
	{% if  collection.title == "Antihero Decks" %}
	 <br><br><small><a href="/collections/antihero-decks-on-hand">Show Only On Hand</a></small><br><br>
	{% endif %}
	{% if  collection.title == "Antihero Decks - On Hand" %}
	 <br><br><small><a href="/collections/antihero-decks">Show All Decks</a></small><br><br>
	{% endif %}
	
	{% if  collection.title == "Real Decks" %}
	 <br><br><small><a href="/collections/real-decks-on-hand">Show Only On Hand</a></small><br><br>
	{% endif %}
	{% if  collection.title == "Real Decks - On Hand" %}
	 <br><br><small><a href="/collections/real-decks">Show All Decks</a></small><br><br>
	{% endif %}
	
	{% if  collection.title == "Krooked Decks" %}
	 <br><br><small><a href="/collections/krooked-decks-on-hand">Show Only On Hand</a></small><br><br>
	{% endif %}
	{% if  collection.title == "Krooked Decks - On Hand" %}
	 <br><br><small><a href="/collections/krooked-decks">Show All Decks</a></small><br><br>
	{% endif %}
	
	<!-- END SHOW ONLY AVAILABLE -->
	
        {% include 'toggle-filters' %} {% if  collection.title == "Trucks" or collection.title == "Thunder Trucks" or collection.title == "Venture Trucks" %} <br><br><font color="red">*Please note that trucks are sold as singles.</font> {% endif %}
      
      <div class="order-form-add-to-cart">
	      <span id="hide-cart" style="display:none;"><a href="/cart" class="header-cart-btn">
            <span class="icon icon-cart"></span>
            {{ 'layout.cart.cart' | t }} <span id="cartCount" {% if cart.item_count == 0 %}class="hidden-count"{% endif %}>{{ cart.item_count }}</span>
          </a>
	      </span>
          <br><br>
          <input class="action-button submit button btn3 right add-to-cart-order-form" type="button" value="Add To Cart" />
      </div>

      
      </div>
    </header>
    {% endif %}

    <div class="grid-uniform">

      {% for product in collection.products %}
	  	
	  	{% if product.tags contains '8upsell' %}
  		{% continue %}
		{% endif %}

        
        {% if has_sidebar %}
          {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
        {% else %}
          {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
        {% endif %}
        {% include 'product-grid-item' %}
		
      {% else %}

        <div class="grid-item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endfor %}

    </div>
	

	
	
  </div>

  {% if paginate.pages > 1 %}
  <div class="grid-item pagination-border-top">
    <div class="grid">
      <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% include 'featured' %}

{% endpaginate %}

<script>
Shopify.itemsToAdd = [];
Shopify.addItemstoTheCart = function() {
  if (Shopify.itemsToAdd.length) {
    var item = Shopify.itemsToAdd.pop();
    $.ajax({
      url: '/cart/add',
      dataType: 'json',
      type: 'post',
      data: item,
      success: Shopify.addItemstoTheCart,
      error: Shopify.addItemstoTheCart
    });
  }
    else {
    window.location = window.location;
  }
};
jQuery(function($) {
  $('table .quantity:first').focus();
  $('[max]').change(function() {
    var max = parseInt($(this).attr('max'), 10);
    var value = parseInt($(this).val(), 10) || 0;
    if (value > max) { 
      alert('We only have ' + max + ' of this item in stock');
      $(this).val(max); 
    }    
  });
  $('.add-to-cart-order-form').click(function() {
    $('.add-to-cart-order-form').addClass('disabled').attr('disabled','disabled');
    // Resetting.
    Shopify.itemsToAdd = [];
    $('.quantity').each(function() {
      var quantity = parseInt($(this).val(), 10);
      if (quantity) {
        Shopify.itemsToAdd.push( { id: $(this).attr('data-id'), quantity: quantity } );
      }
    });     
    if (Shopify.itemsToAdd.length) {
      Shopify.addItemstoTheCart();
    }
    else {
      alert('All quantities are set to zero.');
      $('.add-to-cart-order-form').removeAttr('disabled').removeClass('disabled');
    }
  });
});
</script>

  
<style>
.action-bar { margin: 15px 0; }
.action-bar.top { margin: 30px 0 0; }
.action-bar h1 { margin:0; padding: 0; line-height:1 }
.left { float: left; }
.right { float: right; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Additional styles for table */
table.pure-table { margin: 15px 0; width: 100%; }
table.pure-table tr td:first-child, table.pure-table tr th:first-child { padding-left: 12px; }
table.pure-table tr td:last-child, table.pure-table tr th:last-child { padding-right: 12px; }
table.pure-table img { float:left; padding: 5px 0; }
table.pure-table td { vertical-align: middle; }
.quantity { text-align: center; width: 60px !important; margin: 0 !important; }
</style>
