<div id="ajax-message" class="fade">
<div  class="header-cart-btn cart-toggle">Added to Cart!</div>  <a href="/cart" class="header-cart-btn cart-toggle">
            <span class="icon icon-cart"></span>
            {{ 'layout.cart.cart' | t }}</a>
</div>
<style>
		#ajax-message{
		display: none; 
		position: fixed; /* or absolute */
		left: 0px;
		z-index: 10;
		bottom:0px; 
		margin-top:5px;
		padding:10px 10px; 
		text-align: center; 
		width:100%;
		color:#424242;
		font-size:16px;
		font-family:sans-serif;
		background-color:yellow;
		
		};
		
		
</style>

<script type="text/javascript">
	$(window).scroll(function() {

    if ($(this).scrollTop()>0)
     {
        $('.fade').fadeOut();
     }
 });
</script>

{% paginate collection.products by 20 %}

{% include 'breadcrumb' %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 %}
  {% assign has_sidebar = true %}
{% endif %}

<div class="grid grid-border">
	

  {% if has_sidebar %}
  <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
					
					<script type="text/javascript">	
					if($(window).width() >= 900){	
						jQuery("document").ready(function($){
						
						var nav3 = $('.nav-container2');
						
						$(window).scroll(function () {
							if ($(this).scrollTop() > 136) {
								nav3.addClass("f-nav2");
							} else {
								nav3.removeClass("f-nav2");
							}
						});
					
					});
					}
					
					</script>
					
					
					
					
					<div class="nav-container2">
						
						{% include 'collection-sidebar' %}
						
					</div>
  </aside>
  {% endif %}


  <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

    {% comment %}
      Different markup if description is set
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header--title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr class="hr--offset-left">
      <div class="section-header">
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
      </div>
    {% else %}
    <header class="section-header">
      <h1 class="section-header--title section-header--left">{{ collection.title }}</h1>
     
      <div class="section-header--right">
        {% include 'toggle-filters' %} {% if  collection.title == "Trucks" or collection.title == "Thunder Trucks" or collection.title == "Venture Trucks" %} <br><br><font color="red">*Please note that trucks are sold as singles.</font> {% endif %}
      </div>
    </header>
    {% endif %}

    <div class="grid-uniform">

      {% for product in collection.products %}
      

        
        {% if has_sidebar %}
          {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
        {% else %}
          {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
        {% endif %}
        {% include 'product-grid-item' %}
		
      {% else %}

        <div class="grid-item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endfor %}

    </div>

  </div>

  {% if paginate.pages > 1 %}
  <div class="grid-item pagination-border-top">
    <div class="grid">
      <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% include 'featured' %}

{% endpaginate %}
