<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <div class="rte">
      
<style type="text/css">
	
	    
	#left {
        display: inline-block; 
        padding: 10px;
        width: 320px;
        vertical-align: top;
    }
    #pic {
	    margin: 0px 10px 50px 20px;
	}
	
	.contact {
		background-color: black;
		color: #FFF;
		padding: 20px;
	}

</style>
		<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/contact_header.png?16715505118925665429" border="0">
		
		<br><br>
		
		<div id="left">
		<img src="https://cdn.shopify.com/s/files/1/0714/9533/files/andrew_k_449550d8-f0b4-4cb1-9d07-f9a4e0f12269.jpg?17930801667284897536" align="left" width="100" height="100" border="0" id="pic"><b>ANDREW KIM</b><br>
		East Coast, Southwest & Midwest<br>
		<a href="mailto:brad@dlxsf.com">andrewk@dlxsf.com</a><br>
		1-800-935-7045 ext 234<br>
		Instagram: andrewk__
		</div>
		
		<div id="left">
		<img src="https://cdn.shopify.com/s/files/1/1092/4144/files/jon.jpg?16835623265627742042" align="left" width="100" height="100" border="0" id="pic"><b>JON SCHAUB</b><br>
		California, Indiana, Ohio, KY, TN, Iowa<br>
		<a href="mailto:jon@dlxsf.com">jon@dlxsf.com</a><br>
		1.800.935.7045 ex-205<br>
		Wednesday & Friday<br>
		916.706.0226<br>
		Instagram: goneschaub	
		</div>
		
		
		<div id="left">
				<img src="https://cdn.shopify.com/s/files/1/1092/4144/files/tim.jpg?16835623265627742042" align="left" width="100" height="100" border="0" id="pic"><b>TIM CLOSE</b><br>
		Key Accounts<br>
		<a href="mailto:tim@dlxsf.com">tim@dlxsf.com</a><br>
		415-255-1195 x 229<br>
		Facebook, Instagram, Twitter, etc, @timothyclose
		</div>
		
		
		<div id="left">
				<img src="https://cdn.shopify.com/s/files/1/1092/4144/files/mikel.jpg?16835623265627742042" align="left" width="100" height="100" border="0" id="pic"><b>MIKEL GARMENDIA</b><br>
		All International sales / Everything outside of the US<br>
		<a href="mailto:mikel@dlxsf.com">mikel@dlxsf.com</a><br>
		1.415.255.1195 x 247<br>
		Skype: mgarmendia510<br>
		Instagram: mikelgarmendia
		</div>
		
		
		<div id="left">
				<img src="https://cdn.shopify.com/s/files/1/1092/4144/files/zig.jpg?16835623265627742042" align="left" width="100" height="100" border="0" id="pic"><b>JEREMY ZIGLER</b><br>
		Northeast, Midwest, Southeast<br>
		<a href="mailto:jeremy@dlxsf.com">jeremy@dlxsf.com</a><br>
		1.415.255.1195 x 238<br>
		Instagram: originalzig
		</div>






    </div>
	<div class="contact">
		We'd love to hear from you. Contact your rep directly through their email or use the contact form below:
	</div>
	
	<br><br>
    <div>
      {% form 'contact' %}

        {% if form.posted_successfully? %}
          <p class="note form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {% include 'form-errors-custom' %}

        <div id="contactFormWrapper">
          <label for="contactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">

          <label for="contactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="contactFormPhone" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          <label for="contactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">
        </div>

      {% endform %}
    </div>

  </div>

</div>
