

{% include 'breadcrumb' %}


<div class="grid grid-border">
	
	
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

	<div class="grid-item large--one-fifth">
		
		        <!-- START LEFT NAV -->
		    <style type="text/css">
			    
			    @media ( max-width: 1000px) {
			    #radical { display: none; }
			    }
			</style>
				
				
		    	<div class="nav-container2" style="background-color: white;">
			    {% include 'collection-sidebar' %}
				</div> 
		    
		    	<!-- END LEFT NAV -->
	
	</div>
    	
    	
	<div class="grid-item large--two-fifths grid-border--left">
		<div class="grid">
		  <div class="grid-item large--eleven-twelfths text-center">
		    <!-- START MAGICZOOMPLUS IMAGES -->{% include 'magiczoomplus' %}<!-- END MAGICZOOMPLUS IMAGES -->
		
		  </div>
		</div>
	</div>
  
  		

  <div class="grid-item large--two-fifths">

    <h2 itemprop="name">{{ product.title }}</h2>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

      {% assign variant = product.selected_or_first_available_variant %}

      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ variant.price | money }}">

      {% if settings.product_vendor_enable %}
        <p class="product-meta" itemprop="brand">{{ product.vendor }}</p>
      {% endif %}

      <ul class="inline-list product-meta">
        <li>
          <span id="productPrice" class="h1">
            {% include 'price' with variant.price %}
          </span>
        </li>
        {% if product.compare_at_price_max > product.price %}
        <li>
          <span id="comparePrice" class="sale-tag large">
            {% assign compare_price = variant.compare_at_price %}
            {% assign product_price = variant.price %}
            {% include 'price-sale' %}
          </span>
        </li>
        {% endif %}
        {% if settings.product_reviews_enable %}
          <li class="product-meta--review">
            <a href="#reviewz"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></a>
          </li>
        {% endif %}
      </ul>
      

		{% if  product.type == "Trucks" %}<b>*Please note that trucks are sold as singles.</b><br>{% endif %}
  
      {% assign product_qty = 0 %}
{% for variant in product.variants %}
  {% if variant.inventory_quantity > 0 %}
    {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
  {% endif %}
{% endfor %}


		


      <hr id="variantBreak" class="hr--clear hr--small">
      


	  {% include "add-to-cart-product-page" %}
	  
	  
	
	  
	  
	  	<!-- START ADD TO CART BUTTON -->
				<div class="order-form-add-to-cart">
			      <span id="hide-cart" style="display:none;"><a href="/cart" class="header-cart-btn">
		            <span class="icon icon-cart"></span>
		            {{ 'layout.cart.cart' | t }} <span id="cartCount" {% if cart.item_count == 0 %}class="hidden-count"{% endif %}>{{ cart.item_count }}</span>
		          </a>
			      </span>
		          <br><br>
		          <input class="action-button submit button btn3 left add-to-cart-order-form" type="button" value="Add To Cart" />
		</div>
		<!-- END ADD TO CART BUTTON -->
<br><br>

<!-- START LIST PART ID -->
<p>&nbsp;<div class="tags"><b>Part IDs:</b><br>{% for variant in product.variants %}{{ variant.sku }}{% unless forloop.last %}, {% endunless %}{% endfor %} </p></div>
<!-- START LIST PART ID -->


      <hr>

    </div>

    <div class="product-description rte" itemprop="description">
      {{ product.description }}
    </div> 
        <!-- START LINK TO PRODUCT PHOTOS -->
    <div class="product-description rte" itemprop="description">
      <a href="https://www.dlxcafe.com/search/{{ variant.sku }}?utm_source=B2Bs&utm_medium=B2B%20Button&utm_campaign=B2Bs%20Product%20Photos%20Button" target="_Blank" class="btn btn--small">Download Product Photos</a>
    </div> 
    <!-- END LINK TO PRODUCT PHOTOS --> 
    
    <!-- START INSERT COLLAPSIBLE TEXT -->
    {% if  collection.title == "Thunder Trucks" %}
			 <li class="clearfix filter">
			    <label style="cursor:pointer;" onClick="javascript:changeText(5)" class="tree-toggle2 clearfix btn btn--small filter">&nbsp;&nbsp;SIZE GUIDE<span id="element5" style="float:right; padding-right:30px;">+</a></label>
			    <ul class="nav nav-list tree2 bullets">
			      <li><a href="https://cdn.shopify.com/s/files/1/0714/9533/files/TH2_size_dimensions.jpg?8065062943502995291" target="_Blank"><img src="https://cdn.shopify.com/s/files/1/0714/9533/files/TH2_size_dimensions.jpg?8065062943502995291" border="0"></a><br>Thunder Size Guide</li>
			    </ul>
			  </li>
		    
		    <script>
		    $('.tree-toggle2').click(function () {
		    $(this).parent().children('ul.tree2').toggle(200);
		});
		$(function () {
		    $('.tree-toggle2').parent().children('ul.tree2').toggle(200);
		});
		  //# sourceURL=pen.js
		  
		  function changeText(idElement) {
    var element = document.getElementById('element' + idElement);
    if (idElement === 5) {
        if (element.innerHTML === '+') element.innerHTML = '-';
        else {
            element.innerHTML = '+';
        }
    }
    }
			</script><br>
  {% endif %}
  <!-- END INSERT COLLAPSIBLE TEXT -->

    {% if settings.social_sharing_products %}
      {% include 'social-sharing' %}
    {% endif %}
    
    	<div class="tags">
		          <b>Browse Tags</b>: <br>
					{% for tag in product.tags %}
					<div style="float: left; background: #c3efff; margin-right: 2px; margin-bottom: 2px; padding-left: 6px; padding-right: 6px; color: #FFFFFF;"><a href="/collections/all/{{ tag | handleize }}" rel="tag"><font color="#666">{{ tag }}</font></a></div>
					{% endfor %}
		          </i> </div>

  </div>
</div>



{% if settings.related_products_enable %}
  {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
  {% include 'related-products' %}
{% endif %}

{% if settings.product_reviews_enable %}
<a name="reviewz"></a>
  <hr>
  <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
{% endif %}

<!-- START FEATURED -->

{% include 'featured' %} 

<!-- END FEATURED -->

{{ 'option_selection.js' | shopify_asset_url | script_tag }}


{% if settings.product_image_zoom_enable %}
  {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
{% endif %}



<!-- START SCRIPT TO ADD TO CART -->

<script>
Shopify.itemsToAdd = [];
Shopify.addItemstoTheCart = function() {
  if (Shopify.itemsToAdd.length) {
    var item = Shopify.itemsToAdd.pop();
    $.ajax({
      url: '/cart/add',
      dataType: 'json',
      type: 'post',
      data: item,
      success: Shopify.addItemstoTheCart,
      error: Shopify.addItemstoTheCart
    });
  }
    else {
    window.location = window.location;
  }
};
jQuery(function($) {
  $('table .quantity:first').focus();
  $('[max]').change(function() {
    var max = parseInt($(this).attr('max'), 10);
    var value = parseInt($(this).val(), 10) || 0;
    if (value > max) { 
      alert('We only have ' + max + ' of this item in stock');
      $(this).val(max); 
    }    
  });
  $('.add-to-cart-order-form').click(function() {
    $('.add-to-cart-order-form').addClass('disabled').attr('disabled','disabled');
    // Resetting.
    Shopify.itemsToAdd = [];
    $('.quantity').each(function() {
      var quantity = parseInt($(this).val(), 10);
      if (quantity) {
        Shopify.itemsToAdd.push( { id: $(this).attr('data-id'), quantity: quantity } );
      }
    });     
    if (Shopify.itemsToAdd.length) {
      Shopify.addItemstoTheCart();
    }
    else {
      alert('All quantities are set to zero.');
      $('.add-to-cart-order-form').removeAttr('disabled').removeClass('disabled');
    }
  });
});
</script>

  
<style>
.action-bar { margin: 15px 0; }
.action-bar.top { margin: 30px 0 0; }
.action-bar h1 { margin:0; padding: 0; line-height:1 }
.left { float: left; }
.right { float: right; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Additional styles for table */
table.pure-table { margin: 15px 0; width: 100%; }
table.pure-table tr td:first-child, table.pure-table tr th:first-child { padding-left: 12px; }
table.pure-table tr td:last-child, table.pure-table tr th:last-child { padding-right: 12px; }
table.pure-table img { float:left; padding: 5px 0; }
table.pure-table td { vertical-align: middle; }
.quantity { text-align: center; width: 60px !important; margin: 0 !important; }
</style>

<!-- END SCRIPT TO ADD TO CART -->
